body {
	margin: 0;
	font-family: Hack;
	background: #111111;
}

.canvas {
	margin: 1rem;
	/* display: inline-block; */
}

#canvas {
	border: solid #424242;
}

.config {
	border: solid #424242;
	color: white;
	padding: 1rem;
	margin: 0 1rem;
	display: inline-block;
}

.config-title {
	margin-bottom: 1rem;
}

.form {
	margin: 0.2rem 0;
}

.submit {
	margin-top: 1rem;
}